body {
    background-color: rgb(247, 220, 248);
    color: #480E4A; 
}
.navbar {
    background-color:#480E4A;
    color:#C783CA; 
}

aside {
    background-color:#C783CA;
    
}

.card {
    background-color: #7E1981;
    color: white;
}


/*Search / Column #1 */
#searchTitle {
    margin: 20px;
}

.form-inline {
    margin: 20px;
}

.cityBtn {
    display: block;
    border: none;
    background-color: #C783CA;
}

.btn-outline-success {
    border-color: #480E4A; 
    color: #480E4A;  
}

.btn-outline-success:hover {
    background-color: #480E4A;
    color: #C783CA;
    border-color: #480E4A;
}

#searchLog {
    margin: 20px;
}


/* Weather / Column #2 */
#fullWeather{
    margin-top: 20px;
    margin-bottom: 20px;
}

#fiveDay {
    margin-right: 10px
}
.badgeOrange {
    background: rgb(255, 115, 0);
}