body {
    background-color: rgb(247, 220, 248);
  
}
.navbar {
    background-color:#480E4A;
    color:#C783CA; 
}

aside {
    background-color:#C783CA;
    
}

.card {
    background-color: rgba(113, 18, 116, 0.74);
    color: white;
}


/*Search / Column #1 */
#searchTitle {
    margin: 20px;
    color: #480E4A; 
}

#errorMadeArea {
    color: rgb(201, 5, 5);
    font-size: 12px;
    margin-left: 10px;
}
.form-inline {
    margin: 20px;
}

.cityBtn {
    display: block;
    border: none;
    background-color: #C783CA;
}

.btn-outline-success {
    border-color: #480E4A; 
    color: #480E4A;  
}

.btn-outline-success:hover {
    background-color: #480E4A;
    color: #C783CA;
    border-color: #480E4A;
}

#searchLog {
    margin: 20px;
}


/* Weather / Column #2 */
#fullWeather{
    margin: 20px 10px 20px 0px;
}

#fiveDay {
    margin-right: 10px
}
.badgeOrange {
    background: rgb(255, 115, 0);
}

.badge {
    color: white;
    font-size: 18px;
}